@media only screen and (max-width: 900px){
    .desk{
        display: none;
    }
    
    .txt{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    header .desk{
        display: none;
    }
     
    header .mob{
        display: block;
        width: 100%;
        height: 64px; 
        z-index: 100;   
        position: fixed; 
        top:0;   
    }

    header .mob ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 16px;
        padding-left:  0px;
    }
}

@media only screen and (max-width: 900px){
    .txtm{
        display: block;
        text-align: center;
        margin-top: 40%;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgb(138, 80, 139), rgb(153, 214, 255));
        border-radius: 15px;
        padding: 20px;
        max-width: 80%;
    }
    
    .txtm img{
        border-radius: 16px;
    }
    
    .txtm h1{
        font-weight: 800;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(49, 49, 49);
    }
    
    .txtm p{
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        color:rgb(49, 49, 49);
    }
    
}
